# Application
APP_ENV=development

# Database
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME

# Bright Data
BRIGHT_DATA_API_KEY=YOUR_BRIGHT_DATA_API_KEY
BRIGHT_DATA_ZONE=YOUR_BRIGHT_DATA_ZONE
